page-login {

}
.button {
    
    border-radius: 12px;
    font-size: 40px;
    height: 100px;
    width: 300px;

}

.error {
    color: rgb(223, 62, 62);
    font-size: 11px;
  }

  .error1 {
    color: rgb(75, 75, 75);
    border-bottom: 1px solid #ff0000;
  }